body {
    font-family: 'Droid Sans', sans-serif;
    color: white;
    background: black;
}

#canvasOne {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#canvas-holder {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.navbar-inverse {
    background-color: transparent;
    color:#ffffff;
    border-radius:0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.navbar-inverse:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.navbar-inverse .navbar-nav > li > a {
    color:#fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-inverse .navbar-brand {
    color:#eeeeee;
}

.dropdown>li.clear-option {
    background: #511;
    display: none;
}


.container {
    position: absolute;
}
#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
}

#overlay2 {
    position: absolute;
    right: 10px;
    top: 10px;
}
#infoBox {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-bottom: 10px;
}